
<form method="post" action="{{ path('map')}}">
    {% if error is defined and error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <input id="username" type="text" value="{{ last_username }}" name="nom" id="inputNom" class="form-control" autocomplete="username" placeholder="Nom d'Utilisateur" autofocus required>
    <input id="password" type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de Passe" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div id="summ">
    <button class="btn btn-lg btn-primary" type="submit">Soumettre</button>
    </div>
</form>
