{% extends 'map/index.html.twig' %}

{% block title %}Ajout Icone{% endblock %}

{% block global %}
    <div class="title">
        <h2 class="add-title">Ajout d'une Icone</h2>
    </div>
    {{ form(form) }}
{% endblock %}