{% extends 'map/index.html.twig' %}

{% block global %}
    <p>Ajout d'un élément sur le calque {{ nomCalque }}</p>
    {{ form(form) }}
{# DIV DES ICONES #}
{#   <div class="dropdown form-group">#}
{#      <label>Icones</label>#}
{#       <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#      </button>#}
{#         <div id="dropdown-div" class="dropdown-menu" aria-labelledby="dropdownMenuButton">#}
{#             <ul id="dropdown-ul">#}
{#             </ul>#}
{#         </div>#}
{#   </div>#}
{% endblock %}