{% extends 'map/index.html.twig' %}

{% block title %}Ajout type d'élément{% endblock %}

{% block global %}
        {% if 'add-type-element' in app.request.uri %}
                <h4>Ajout d'un nouveau type d'élément</h4>
        {% else %}
                <h4>Modification d'un type d'élément</h4>
        {% endif %}
        {{ form(form) }}
{% endblock %}