{% extends 'map/index.html.twig' %}

{% block title %}Ajout type d'élément{% endblock %}

{% block global %}
        {% if 'add-type-element' in app.request.uri %}
                <div class="title">
                        <h1 class="add-title">Ajout d'un nouveau type d'éléments</h1>
                </div>
        {% else %}
                <div class="title">
                        <h1 class="add-title">Modification d'un type d'éléments</h1>
                </div>
        {% endif %}
        {{ form(form) }}
{% endblock %}