{% extends 'map/index.html.twig' %}

{% block title %}Ajout élément{% endblock %}

{% block global %}
    <h4>Ajout d'un élément sur le calque "{{ nomCalque }}"</h4>
    <label>Emplacement de l'élément</label>
    <p id="position" class="form-control">Cliquez sur la carte </br>pour sélectionner l'endroit où ajouter le nouvel élément</p>
    {{ form(form) }}
{# DIV DES ICONES #}
{#   <div class="dropdown form-group">#}
{#      <label>Icones</label>#}
{#       <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#      </button>#}
{#         <div id="dropdown-div" class="dropdown-menu" aria-labelledby="dropdownMenuButton">#}
{#             <ul id="dropdown-ul">#}
{#             </ul>#}
{#         </div>#}
{#   </div>#}
{% endblock %}