{% extends 'map/index.html.twig' %}

{% block title %}Ajout type d'élément- Choix calque{% endblock %}

{% block global %}
    <div class="title">
        <h1 class="add-title">Choisissez le calque sur lequel ajouter un type d'éléments</h1>
    </div>
    <div>
        {{ form(choixCalqueForm) }}
    </div>
{% endblock %}