{% extends 'map/index.html.twig' %}

{% block title %}Ajout {% if typeACreer == 'element' %}
        élément
    {% elseif typeACreer == 'typeElt' %}
        type d'élément
    {% endif %} - Choix calque{% endblock %}

{% block global %}
    <h4>Choix du calque sur lequel ajouter un
        {% if typeACreer == 'element' %}
            élément
        {% elseif typeACreer == 'typeElt' %}
            type d'élément
        {% endif %}
    </h4>
    <div>
        {{ form(choixCalqueForm) }}
    </div>

{% endblock %}