
<div class="">
    {% for element in elementsByType %}
        {% for point in element.points %}
                <p class="elementClique" latitude="{{ point.latitude }}" longitude="{{ point.longitude }}">{{ element.nom }}</p>
        {% endfor %}
    {% endfor %}
</div>
