/* map */
.container-fluid {
    width: 100%;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
}

.bigMap {
    margin-top: unset;
    transition: margin-top 10ms;
}

.smallMap {
    margin-top: 58px;
    transition: margin-top 10ms;
}

/******/
h4, .titre_4 {
    margin-bottom: 20px;
}

.modal-open {
    padding: 0!important;
}

.modal-title {
    color: black;
}

#username, #password {
    margin: 25px 0px 25px 0px;
}

.row{
    height: 100%;
    margin-bottom: 15px;
}

.navbar {
    background: #fff;
    padding : 10px;
    text-align: center;
}

#aUnlog {
    position: absolute;
    width: 300px;
    top: 66px;
}

#aLog {
    width: 100%;
    margin-top: -30px;
}

#aLog > a {
    width: 60%;
}

#aUnlog {
    right: 12px;
}

#bLog {
    top:0;
    width: 100%;
    height: 118px;
    background-color: #323737;
    color: white;
}

#h3 {
    display: flex;
}

/* header */
#header-content {
    text-align: center;
}

.bigHeader {
    display: flex;
}

.smallHeader {
    display: none;
}

/******/

#h3 > h3, #Ah3UnLog {
    flex: 0 0 100%;
}

#h3 > h3, #Ah3Log {
    flex: 0 0 75%;
}

#bLog h3 {
    font-size: 1.40rem;
    padding-top: 15px;
    text-align: center;
}

#form {
    flex: 0 0 25%;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

input#calque_nom{
    text-align: center;
}

#bLog #summ {
    margin-top: .5rem;
    text-align: center
}

#choixClq {
    margin-top: 10px;
}

.dropdown-toggle, .dropdown-menu.show {
    width: 100%;
}

.listClq {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    padding: 0.70rem 1.5rem;
    margin-bottom: 10px;
}

.listClq > form {
    text-align: center;
}

.divClqEntier {
    margin-bottom: 10px;
}

.divClqNom {
    text-align: center;
    background-color: #F0F0F0;
}

.divClqNom a {
    text-decoration: none;
    color: #6D6D6D;
}

.divClqNom a:hover {
    color: #212529;
}

.listClq:first-child {
    margin-top: 10px;
}

.divClqNom > input {
    width: 100%;
}

.am {
    margin-right: -5px;
}

/* ajout de calque, type, élément */
.add-element, .list-icones {
    text-align: center;
    border: 1px solid rgba(0,0,0,.15);
    background-color: #F0F0F0;
    border-radius: 0.25rem;
    padding: 0.70rem 1.5rem;
    margin-bottom: 10px;
}

.add-element > p {
    margin-bottom: 0px;
}

.create-btn {
    display: flex;
    align-items: center;
}

.create-elt {
    margin-top: 2px;
    margin-bottom: 2px;
    flex: max-content;
}

#calque{
    margin: 30px;
}

textarea, input {
    text-align: center;
}

.dd-container {
    width: 100%!important;
}

.dd-container > *  {
    width: 100%!important;
}

.dd-selected {
    padding: 5px!important;
}

.dd-selected-image, .dd-option-image {
    position: absolute;
    left: 0;
    margin-left: 10px;

}

.dd-selected-image {
    transform: none !important;
}

.dd-selected-text {
    padding: 10px;
}

.dd-options.dd-click-off-close {
    overflow-y: auto!important;
    overflow-x: hidden!important;
    height: 159px !important;
}

.dd-option-text {
    line-height: 32px !important;
    margin-left: 17px;
}

.dd-selected-image, .dd-option-image {
    transform: translateY(-14%);
    height: 45px;
}

.dd-selected-text, .dd-option-text {
    margin-bottom: 0!important;
}

.dd-desc {
    display: none !important;
}

/* formulaire d'ajout d'élément */
#position {
    height: auto;
}

#loader {
    display: none;
}

/* Popup bouton suppression */
.suppression, .suppression:hover, .suppression:active, .suppression:not(:disabled):not(.disabled):active   {
    background-color: #cc0202;
    border-color: #cc0202;
    color: white;
}

/* Div créer un calque et type d'élément dedans */
.createCalqueAndType {
    display: flex;
    justify-content: center;

}

/*.list {*/
/*    margin-top: 50px;*/
/*}*/

.createCalqueAndType > * {
    flex: 0 0 44%
}

.m-10{
    margin-right: 10px;
}

/* Pop-up */
#lien:hover, #photo:hover {
    cursor: pointer;
}

/* titres */
.title {
    background-color: #F0F0F0;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    padding: 0.70rem 1.5rem;
    margin-bottom: 20px;
}

.add-title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.add-subtitle {
    color: #6D6D6D;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.2;
}

.createCalqueAndType > * {
    flex: 0 0 44%
}

.m-10{
    margin-right: 10px;
}

/* Pop-up */
#lien:hover, #photo:hover {
    cursor: pointer;
}


.demo-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size:50px;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* effet 3D */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.leaflet-div-icon {
    background: none;
    border: none;
}

input.form-control.jscolor.jscolor-active {
    padding-left: 0px!important;
}

tr.tdIconeAlign > * {
    vertical-align: middle;
}

.tableWrap {
    overflow: auto;
    height: 500px;
}

.thead-dark {
    position: sticky;
    top: 0;
}

