.container-fluid {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 58px;
}

.row{
    height: 100%;
}

.navbar {
    background: #fff;
    padding : 10px;
    text-align: center;
}

#log {
    margin: 10px 10px 10px 10px;
}

#bLog {
    top:0;
    width: 100%;
    height: 58px;
    display: flex;
    background-color: #323737;

}

#Ah3 {
    flex: 0 0 70%;
    text-align: center;
}

#bLog h3 {
    color: white;
    font-size: 1.40rem;
}

#bLog div {
    margin:auto
}

#aFlex {
    flex: 0 0 20%;
    display: inherit;
}

#form {
    flex: 0 0 25%;
    padding: 10px 10px 10px 10px;
}

#bLog #summ {
    margin-top: .5rem;
    text-align: center

}

#choixClq {
    margin-top: 10px;
}

.dropdown-toggle, .dropdown-menu.show {
    width: 100%;
}

.listClq {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    padding: 0.70rem 1.5rem;
}

.listClq > form {
    text-align: center;
}

.material-icons {
    width: 49.1%;
    border: 1px solid rgba(0,0,0,.15);
    text-align: center;
}

#calque{
    margin: 30px;
}