.container-fluid {
    width: 100%;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 58px;
}

.row{
    height: 100%;
}

.navbar {
    background: #fff;
    padding : 10px;
    text-align: center;
}

#log {
    margin: 10px 10px 10px 10px;
}

#bLog {
    top:0;
    width: 100%;
    height: 118px;
    background-color: #323737;
}

#header-content {
    display: flex;
}

#Ah3 {
    flex: 0 0 70%;
    text-align: center;
}

#bLog h3 {
    color: white;
    font-size: 1.40rem;
    padding-top: 15px;
    text-align: center;
}

#bLog div {
    
}

#aFlex {
    flex: 0 0 20%;
}

#form {
    flex: 0 0 25%;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

#bLog #summ {
    margin-top: .5rem;
    text-align: center

}

#choixClq {
    margin-top: 10px;
}

.dropdown-toggle, .dropdown-menu.show {
    width: 100%;
}

.listClq {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    padding: 0.70rem 1.5rem;
    margin-bottom: 10px;
}

.listClq > form {
    text-align: center;
}

.divClqEntier {
    margin-bottom: 10px;
}

.listClq:first-child {
    margin-top: 10px;
}

.divClqNom > input {
    width: 100%;
}

.material-icons {
    width: 50%;
    border: 1px solid rgba(0,0,0,.15);
    text-align: center;
}

.am {
    margin-right: -5px;
}

#calque{
    margin: 30px;
}

.dd-container {
    width: 100%!important;
}

.dd-container > *  {
    width: 100%!important;
}

.dd-selected {
    padding: 5px!important;
}

.dd-options.dd-click-off-close {
    overflow-y: auto!important;
    overflow-x: hidden!important;
    height:183px !important;
}

.dd-option-text {
    line-height: 32px !important;
}

.dd-selected-image, .dd-option-image {
    transform: translateY(25%);
}

.dd-option.dd-option-selected {

}

.dd-selected-text, .dd-option-text {
    margin-bottom: 0!important;
}