/* Modification du style du formulaire de recherche de l'API */
.geocoder-control.leaflet-control {
    width: 275px;
    margin: auto;
}

.leaflet-top.leaflet-left {
    width: 100%;
    display: flex;
}

/* Ajustement du style dû à la modification de l'emplacement de la liste déroulante du choix de communes */
#rechercheForm {
    z-index: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#rechercheForm label {
    padding: 20px;
}

#form_commune {
    width: 275px;
    margin: auto;
}

.geocoder-control-input {
    position: static;
}

